.Home {
  display: flex;
  height: 93vh;
}

.Home-dashboard {
  background-color: #f7f7fc;
  width: 75%;
}

.Home-dashboard-selectors {
  height: 90%;
}

.Home-dashboard-title {
  display: flex;
  padding: 2vh 2vw;
  color: #1c2550;
  gap: 15px;
  font-size: 0.8em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.Home-dashboard-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2vh 10vw 2vh 2vw;

  div {
    background-color: #ffffff;
    height: 150px;
    flex: 1 0 auto;
    width: calc(100% / 5);
    max-width: 210px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3c68fa;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
}

.Home-dashboard-shortcutBar {
  background-color: #e5e9f4;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 90%);
  align-items: center;
  padding: 0 0 0 5vw;
  gap: 20px;
  color: #243058;

  div {
    background-color: #243058;
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.Home-announcement {
  background-color: #ffffff;
  width: calc(100% - 75%);
  padding: 10px 5px 5px 20px;
}

.Home-advertisements {
  height: 75%;

  h3 {
    color: #184eff;
    border-bottom: solid 2px grey;
  }
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
  }

  article {
    margin: 10px auto;

    h4 {
      margin-bottom: 10px;
    }

    p {
      font-size: 0.8em;
      line-height: 1.2;
    }
  }
}

.Home-survey {
  height: calc(100% - 75%);

  h3 {
    color: #184eff;
    border-bottom: solid 2px grey;
  }

  div {
    margin-top: 10px;

    h4,
    p {
      margin-bottom: 5px;
    }
    form {
      display: flex;
      flex-direction: column;
      font-size: 0.8em;

      button {
        border: none;
        background-color: #243058;
        color: #ffffff;
        align-self: flex-end;
        margin: 5px 10px 0 0;
        padding: 6px 11px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 0.8em;
      }

      input {
        margin-right: 7px;
        cursor: pointer;
      }
    }
  }
}
